.header {
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  display: flex;
  align-items: center;
  gap: 9px;
  transition: all 0.3s linear;
}

.link:hover {
  color: #2980b9;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
}

.image {
  display: block;
  margin: 48px auto;
  width: 848px;
  height: 477px;
  object-fit: cover;
}

.content {
  width: 848px;
  margin: 0 auto;
}
