.reactions {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px 13px;
  border-radius: 4px;
  transition: all 0.3s;
  font-size: 1rem;
  color: #555;
}

.button:hover {
  background-color: #f0f0f0;
}

.icon {
  color: #959298;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  color: green;
}

.activeDislike {
  color: red;
}

.icon {
  color: #959298;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover .icon {
  color: #555;
}

.active .icon {
  color: inherit;
}
.activeDislike .icon {
  color: inherit;
}

.count {
  font-size: 16px;
  color: #555;
}
